.sidebar {
    width: 200px;
    background-color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .tab {
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .tab:hover {
    background-color: #575757;
  }
  
  .active-tab {
    background-color: #1e90ff;
    font-weight: bold;
  }
  